<hr>
<div class="weather_container"></div>
<hr>
<div class="weatherContainer">
    <div class="weatherQs">Is it snuggle weather?</div>
    <a href="#/warmFood">
        <input type="button" name="btn" class="btn-style floatLeft" value="Warm Weather Food!" />
    </a>
    <div class="weatherQs centered">Or pick your own!</div>
    <a href="#/yumForm">
        <input type="button" name="btn" class="btn-style centered" value="Lets Pick A Recipe!" />
    </a>
    <a href="#/coldFood">
        <input type="button" name="btn" class="btn-style floatRight" value="Cold Weather Food!" />
    </a>
    <div class="weatherQs floatRight">or icecream weather?</div>
</div>
