<hr>
<iframe id="forecast_embed" type="text/html" frameborder="0" height="245" width="100%" src="http://forecast.io/embed/#lat=29.746224&lon=-95.350293&name=Start Houston&color=#00aaff&font=Georgia"></iframe>
<hr>
<div class="weatherContainer">
    <div class="weatherQs">Is it snuggle weather?</div>
    <div class="slideTwo">
        <input type="checkbox" value="None" id="slideTwo" name="check" />
        <label for="slideTwo"></label>
    </div>
    <div class="weatherQs floatRight">or icecream weather?</div>
</div>
<div class="buttonContainer">
    <input type="button" name="btn" class="btn-style" value="submit" />
</div>
<html>
