<hr>
<iframe id="forecast_embed" type="text/html" frameborder="0" height="245" width="100%" src="http://forecast.io/embed/#lat=29.746224&lon=-95.350293&name=Start Houston&color=#00aaff&font=Georgia"></iframe>
<hr>
<div class="weatherContainer">
    <div class="weatherQs">Is it snuggle weather?</div>
    <a href="#/warmFood">
        <input type="button" name="btn" class="btn-style floatLeft" value="Warm Weather Food!" />
    </a>
    <div class="weatherQs centered">Or pick your own!</div>
    <a href="#/yummly">
        <input type="button" name="btn" class="btn-style centered" value="Lets Pick A Recipe!" />
    </a>
    <a href="#/coldFood">
        <input type="button" name="btn" class="btn-style floatRight" value="Cold Weather Food!" />
    </a>
    <div class="weatherQs floatRight">or icecream weather?</div>
</div>
